#foto, #img-dotnet, #img-cs {
    width: 200px;
    margin: 2rem 0;
    border-radius: 50%
}

.seccion-bienvenida {
    margin: 5rem 0 10rem 0;
    color: white;
}

.seccion-bienvenida h1 {
    margin-bottom: 1rem;
}

.seccion-bienvenida p {
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 1.25rem;
}

.tarjetaExperiencia {
    margin-top: -105px;
    border-radius: 15px;
    box-shadow: 0 5px 5px 0;
}

.tarjetaExperiencia > ul {
    list-style: none;
    padding: 0px
}

.bi-person-vcard-fill {
    color: rebeccapurple;
    font-size: 40px;
}