<div class="row justify-content-md-center text-center">
    <div class="col col-md-8 bg-white tarjetaExperiencia text-center">
        <h3>Tecnologías utilizadas:</h3>
        <ul>
            <li>Desarrollo con ASP.NET Framework/Core 6</li>
            <li>Programación en C#</li>
            <li>Implementación de patrón MVC</li>
            <li>Uso de Entity Framework para el mapeo objeto-relacional (ORM)</li>
            <li>Gestión de bases de datos con SQL Server</li>
            <li>Creación de vistas dinámicas con Razor</li>
            <li>Desarrollo de funcionalidades interactivas con JavaScript</li>
            <li>Diseño responsivo utilizando Bootstrap</li>
        </ul>
    </div>
</div>