@{
    ViewData["Title"] = "Contacto";
}

<h1>Formulario de Contacto</h1>

<div>
    <form asp-controller="Home" asp-action="Contacto">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input required type="text" class="form-control" id="nombre" name="nombre" placeholder="Sebastián" />
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input required type="email" class="form-control" id="email" name="email" placeholder="nombre@ejemplo.com" />
        </div>
        <div class="mb-3">
            <label for="mensaje" class="form-label">Mensaje</label>
            <textarea required class="form-control" id="mensaje" name="mensaje" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
